html, body {
  width: 100%;
  height: 100%;
  font-family: cursive;
  color: #565656;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #99cfa9;
}

.content__top {
  flex-shrink: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 8px;

  &, & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.content_top__left {
  img {
    margin: 0 10px;
    width: 50px;
    border-radius: 50%;
    background-color: darkgrey;
  }
}

.content_top__right {
  justify-content: space-around;
  width: 75px;
  cursor: pointer;
  i {
    font-size: 30px;
  }
}

.content__bottom {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.content_bottom__left {
  padding: 20px 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    cursor: pointer;
    background-color: #86b895;
    padding: 18px 28px;
    border-top: 2px solid #b4c6ba;
  }

  li:last-child {
    border-bottom: 2px solid #b4c6ba;
  }
}


.content_bottom__right {
  flex-grow: 1;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.dossierCourant {
  background-color: #17a2b8!important;
  color: white;
}