html, body {
  width: 100%;
  height: 100%;
  font-family: cursive;
  color: #565656;
  background-color: #fff6cc;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

.content_bottom_right__top {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
  flex-grow: 1;

  a {
    margin: 10px 0;
  }

  img {
    border-radius: 50%;
    cursor: pointer;
  }

  table {
    text-align: center;

    .controls i {
      font-size: 20px;
      cursor: pointer;

      &:hover {
        font-weight: 900;
      }
    }
  }
}

#viewModal .modal-content p {
  text-align: center;
}

#viewModal .modal-content img {
  display: block;
  margin: 0 auto;
  width: 35%;
}

.content_bottom_right__bottom {
  width: 100%;
  border-left: 1px #181818 solid;
  border-top: 1px #181818 solid;
  background: #282828;
  display: flex;
  justify-content: center;
}

.add {
  font-size: 60px;
  color: #1f90a3;
  cursor: pointer;
  margin: 2px 0;

  &:hover {
    color: lighten(#1f90a3, 5);
  }

  &:active {
    color: lighten(#1f90a3, 10);
  }
}

@media (max-width: 650px) {
  .add {
    font-size: 50px;
  }
}

.input-group-prepend {
  width: 35%;
}

.input-group-text {
  display: block;
  width: 100%;
  white-space: normal;
}

.form-control {
  height: initial;
}

@media (max-width: 350px) {
  .input-group-prepend {
    display: none;
  }
}

.table td, .table th {
  vertical-align: middle;
}

.table, .dataTables_wrapper {
  width: 100% !important;
}

@media (max-width: 300px) {
  .row:first-child {
    display: none;
  }
}