html, body {
  height: 100%;
  width: 100%;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myContainer {
  background: #e9ffd7;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2%;
  min-width: 375px;
  border-radius: 10px;

  form {
    padding: 5%;
    text-align: center;
    //margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
      width: 100%;
      border-radius: 15px;
      text-align: center;
      border: none;
      border-bottom: 1px solid green;
      background: lighten(lightgreen, 15%);
    }
  }
}

#homeLogo {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;

  img {
    width: 40px;
  }
}

@media (max-width: 600px) {
  .myContainer {
    width: 100%;
    min-width: initial;
  }

  #homeLogo {
    img {
      width: 20%;
    }

    h1 {
      display: none;
    }
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  #footer {
    display: none;
  }
}

@media (max-height: 600px) {
  #footer {
    display: none;
  }
}