html, body {
  height: 100%;
  width: 100%; }

body {
  display: flex;
  justify-content: center;
  align-items: center; }

.myContainer {
  background: #e9ffd7;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2%;
  min-width: 375px;
  border-radius: 10px; }
  .myContainer form {
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .myContainer form input {
      width: 100%;
      border-radius: 15px;
      text-align: center;
      border: none;
      border-bottom: 1px solid green;
      background: #d2f8d2; }

#homeLogo {
  display: flex;
  justify-content: center;
  margin-bottom: 5%; }
  #homeLogo img {
    width: 40px; }

@media (max-width: 600px) {
  .myContainer {
    width: 100%;
    min-width: initial; }

  #homeLogo img {
    width: 20%; }
  #homeLogo h1 {
    display: none; } }
@media (min-width: 600px) and (orientation: landscape) {
  #footer {
    display: none; } }
@media (max-height: 600px) {
  #footer {
    display: none; } }

/*# sourceMappingURL=connexion.css.map */
