body {
    background-color: #87CEEB;
}

#scanner {
    margin-top: 8%;
    margin-bottom: auto;
}

video {
    box-sizing: border-box;
    width: 100%;
}

#scanQrBtn {
    margin-top: 10%;
}

#localisation {
    color: red;
}

#help,
#status,
#localisation {
    font-size: 3em;
}

#homeLogo {
    margin-top: 10%;
}

.scan {
    width: 100%;
    height: 1%;
    background-color: rgba(140, 212, 110, 0.8);
    position: absolute;
    z-index: 9999;
    -moz-animation: scan 2s infinite;
    -webkit-animation: scan 2s infinite;
    animation: scan 2s infinite;
    -webkit-animation-direction: alternate-reverse;
    box-shadow: 0px 0px 30px rgba(255, 204, 102, .5);
}

@-webkit-keyframes scan {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(3600%);
        transform: translateY(3600%);
    }
}

#plan {
    box-sizing: border-box;
    overflow-x: scroll;
    width: 100%;
}
@media screen and (min-width: 600px) {
    .d-flex {
        min-height: 9rem;
    }

    .scanner {
        max-width: 30rem;
    }

    .scan {
        max-width: 30%;
    }
    .nav-item {
        font-size: 2em;
        width: 100%;
        min-width: 15%;
        max-width: 15%;
    }

    img {
        width: 10%;
    }

    .miel_nav {
        width: 80%;
        font-size: 2em;
        max-width: 20%;

    }
    .navbar {
        flex-direction: row;
        justify-content: normal;
    }
    .miel {
        width: 20%;
    }

    .imgScan {
        width: 70%;
    }
    .time {
        font-size: 1rem;
    }
    .back {
        width: 20%;
        text-align: center;
        vertical-align: middle;
    }
    .nuage1 {
        width: 15%;
        position: absolute;
        top: 25%;
        left: 3%;
    }
    .nuage2 {
        width: 20%;
        position: absolute;
        top: 30%;
        left: 15%;
    }
    .nuage3 {
        width: 10%;
        position: absolute;
        top: 30%;
        left: 70%;
    }

    .active {
        max-width: 30%;
    }

    .modal-lg {
        width: 900px;
        font-size: 2.4rem;
    }

    .modal-dialog {
        max-width: none;
    }

    .modal-title {
        font-size: 3rem;
    }

    .btn-danger {
        min-width: 35%;
        min-height: 5rem;
        font-size: 2rem;
    }
}
@media only screen and (max-device-width:600px) {
    .d-flex {
        min-height: 9rem;
    }

    .scanner {
        max-width: 25rem;
    }

    .scan {
        max-width:  100%;
    }

    .active {
        max-width: 100%;
    }
    .nav-item {
            font-size: 2em;
            width: 100%;
            min-width: 25%;
            max-width: 25%;
        }

    img {
        width: 45%;
    }

    .miel_nav {
        width: 100%;
        font-size: 2em;
        max-width: 25%;

    }
    .navbar {
        flex-direction: row;
        justify-content: normal;
    }
    .miel {
        width: 30%;
    }
    .time {
        font-size: 2rem;
    }
    .back {
        width: 100%;
        text-align: center;
        vertical-align: middle;
    }
    .nuage1 {
        width: 25%;
        position: absolute;
        top: 15rem;
        left: 3rem;
    }
    .nuage2 {
        width: 30%;
        position: absolute;
        top: 45%;
        left: 15%;
    }
    .nuage3 {
        width: 20%;
        position: absolute;
        top: 17%;
        left: 75%;
    }

    .modal-lg {
        width: 900px;
        font-size: 2.4rem;
    }

    .modal-dialog {
        max-width: none;
    }

    .modal-title {
        font-size: 3rem;
    }

    .btn-danger {
        min-width: 35%;
        min-height: 5rem;
        font-size: 2rem;
    }
}

.confetti {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.confetti-piece {
    position: absolute;
    width: 8px;
    height: 16px;
    background: #5219e3;
    top: 0;
    opacity: 0;
}

.confetti-piece:nth-child(1) {
    left: 7%;
    -webkit-transform: rotate(27deg);
    transform: rotate(27deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 262ms;
    animation-delay: 262ms;
    -webkit-animation-duration: 983ms;
    animation-duration: 983ms;
}

.confetti-piece:nth-child(2) {
    left: 14%;
    -webkit-transform: rotate(-52deg);
    transform: rotate(-52deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 444ms;
    animation-delay: 444ms;
    -webkit-animation-duration: 1165ms;
    animation-duration: 1165ms;
}

.confetti-piece:nth-child(3) {
    left: 21%;
    -webkit-transform: rotate(79deg);
    transform: rotate(79deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 431ms;
    animation-delay: 431ms;
    -webkit-animation-duration: 1095ms;
    animation-duration: 1095ms;
}

.confetti-piece:nth-child(4) {
    left: 28%;
    -webkit-transform: rotate(54deg);
    transform: rotate(54deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 93ms;
    animation-delay: 93ms;
    -webkit-animation-duration: 925ms;
    animation-duration: 925ms;
}

.confetti-piece:nth-child(5) {
    left: 35%;
    -webkit-transform: rotate(-80deg);
    transform: rotate(-80deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 296ms;
    animation-delay: 296ms;
    -webkit-animation-duration: 967ms;
    animation-duration: 967ms;
}

.confetti-piece:nth-child(6) {
    left: 42%;
    -webkit-transform: rotate(44deg);
    transform: rotate(44deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 203ms;
    animation-delay: 203ms;
    -webkit-animation-duration: 777ms;
    animation-duration: 777ms;
}
    .modal-dialog {
        min-width: 25rem;
    }

.confetti-piece:nth-child(7) {
    left: 49%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 432ms;
    animation-delay: 432ms;
    -webkit-animation-duration: 772ms;
    animation-duration: 772ms;
}

.confetti-piece:nth-child(8) {
    left: 56%;
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 70ms;
    animation-delay: 70ms;
    -webkit-animation-duration: 792ms;
    animation-duration: 792ms;
}

.confetti-piece:nth-child(9) {
    left: 63%;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 383ms;
    animation-delay: 383ms;
    -webkit-animation-duration: 933ms;
    animation-duration: 933ms;
}

.confetti-piece:nth-child(10) {
    left: 70%;
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 335ms;
    animation-delay: 335ms;
    -webkit-animation-duration: 1073ms;
    animation-duration: 1073ms;
}

.confetti-piece:nth-child(11) {
    left: 77%;
    -webkit-transform: rotate(-64deg);
    transform: rotate(-64deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 123ms;
    animation-delay: 123ms;
    -webkit-animation-duration: 889ms;
    animation-duration: 889ms;
}

.confetti-piece:nth-child(12) {
    left: 84%;
    -webkit-transform: rotate(67deg);
    transform: rotate(67deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 165ms;
    animation-delay: 165ms;
    -webkit-animation-duration: 933ms;
    animation-duration: 933ms;
}

.confetti-piece:nth-child(13) {
    left: 91%;
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 29ms;
    animation-delay: 29ms;
    -webkit-animation-duration: 954ms;
    animation-duration: 954ms;
}

.confetti-piece:nth-child(odd) {
    background: #17d3ff;
}

.confetti-piece:nth-child(even) {
    z-index: 1;
}

.confetti-piece:nth-child(4n) {
    width: 5px;
    height: 12px;
    -webkit-animation-duration: 2000ms;
    animation-duration: 2000ms;
}

.confetti-piece:nth-child(3n) {
    width: 3px;
    height: 10px;
    -webkit-animation-duration: 2500ms;
    animation-duration: 2500ms;
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
}

.confetti-piece:nth-child(4n-7) {
    background: #ff4e91;
}

@-webkit-keyframes makeItRain {
    from {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        -webkit-transform: translateY(400px);
        transform: translateY(400px);
    }
}

@keyframes makeItRain {
    from {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        -webkit-transform: translateY(400px);
        transform: translateY(400px);

    }
}