<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>BeeChallenge - Administration</title>

    <!-- JQuery -->
    <script language="javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ base_url() }}/vendor/twbs/bootstrap/dist/css/bootstrap.min.css"/>
    <!--Fontawesome-->
    <link rel="stylesheet" href="{{ base_url() }}/vendor/fortawesome/font-awesome/css/all.css"/>
    <!-- OUR CSS -->
    <link rel="stylesheet" href="{{ base_url() }}/public/css/administrationIframe.min.css"/>
    <link rel="stylesheet" href="{{ base_url() }}/public/css/all.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>

    {% block styles %}{% endblock %}
</head>

<body>

<div class="content">
    {% block content %}

    {% endblock %}

    {% block boutonAdd %}
        <div class="content_bottom_right__bottom">
            <i class="far fa-plus-circle add" data-toggle="modal" data-target="#addModal"></i>
        </div>
    {% endblock %}
</div>

{% block modal %}
    {% block modal_edit %}
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">{% block edit_titre %}{% endblock %} <b></b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" action="javascript:modifier('{{ type }}')" class="editForm">
                        <div class="modal-body">
                            <div class="form-group">
                                {% block edit_content %}{% endblock %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Modifier</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block modal_add %}
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">{% block add_titre %}{% endblock %} <b></b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" action="javascript:ajouter('{{ type }}')" class="addForm">
                        <div class="modal-body">
                            <div class="form-group">
                                {% block add_content %}{% endblock %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block modal_remove %}
        <div class="modal" id="removeModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{% block remove_titre %}{% endblock %} <b></b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% block remove_content %}{% endblock %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="supprimer('{{ type }}')">
                            Supprimer
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block modal_view %}
        <div class="modal fade" tabindex="-1" role="dialog" id="viewModal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{% block view_titre %}{% endblock %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% block view_content %}{% endblock %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}

{% block scripts %}{% endblock %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
</body>
</html>