{% extends "administration/_administration_model.html.twig" %}

{% block styles %}
    <style>
        @media (max-width: 1400px) {
            .colonne-5 {
                display: none;
            }
        }

        @media (max-width: 1150px) {
            .colonne-3, .colonne-4 {
                display: none;
            }
        }

        @media (max-width: 600px) {
            .colonne-6 {
                display: none;
            }
        }

        @media (max-width: 500px) {
            .content_bottom_right__top img {
                width: 125px;
            }

            .colonne-2 {
                display: none;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <input type="hidden" id="base_url" value="{{ base_url() }}">
    <div class="content_bottom_right__top">

        <table class="table table-hover table-bordered" id="tableUsers">
            <thead class="thead-dark">
            <tr>
                <th scope="col" class="colonne-1">ID</th>
                <th scope="col" class="colonne-2">Pseudo</th>
                <th scope="col" class="colonne-3">Nom</th>
                <th scope="col" class="colonne-4">Prénom</th>
                <th scope="col" class="colonne-5">Email</th>
                <th scope="col" class="colonne-6">Admin</th>
                <th scope="col" class="colonne-7 controls"><i class="fas fa-cogs"></i></th>
            </tr>
            </thead>
            <tbody>
            {% if users is defined %}
                {% for user in users %}
                    <tr data-id="{{ user['user_id'] }}" {% if user['level'] == 1 %}class="table-warning"{% endif %}>
                        <td class="colonne-1">{{ user['user_id'] }}</td>
                        <td class="colonne-2">{{ user['login'] }}</td>
                        <td class="colonne-3">{{ user['nom'] }}</td>
                        <td class="colonne-4">{{ user['prenom'] }}</td>
                        <td class="colonne-5">{{ user['email'] }}</td>
                        <td class="colonne-6">{{ user['level'] }}</td>
                        <td class="colonne-7 controls">
                            <i class="far fa-edit text-warning" data-toggle="modal"
                               data-target="#editModal"></i>
                            <i class="far fa-trash-alt text-danger" data-toggle="modal"
                               data-target="#removeModal"></i>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ base_url() }}/public/js/administration/administration-liste-utilisateurs.js"></script>
    <script src="{{ base_url() }}/public/js/administration/administration-modal.js"></script>
{% endblock %}


{# ============================ #}
{# ========== MODALS ========== #}
{# ============================ #}
{% set type = "utilisateur" %}

{% block edit_titre %}Modifier l'utilisateur{% endblock %}
{% block edit_content %}
    <input type="hidden" name="idutilisateur" id="idutilisateur">
    <div class="input-group mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="label-username">Pseudo</span>
        </div>
        <input type="text" class="form-control" name="username" id="username"
               aria-describedby="label-username" placeholder="Pseudo" autocomplete="off"
               maxlength="50" required>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="label-firstname">Prénom</span>
        </div>
        <input type="text" class="form-control" name="firstname" id="firstname"
               aria-describedby="label-firstname" placeholder="Prénom" autocomplete="off"
               maxlength="25" required>
    </div>
    <div class="input-group mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="label-lastname">Nom</span>
        </div>
        <input type="text" class="form-control" name="lastname" id="lastname"
               aria-describedby="label-lastname" placeholder="Nom" autocomplete="off"
               maxlength="25"
               required>
    </div>
    <div class="input-group mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="label-lastname">Email</span>
        </div>
        <input type="email" class="form-control" name="email" id="email"
               aria-describedby="label-email" placeholder="Email" autocomplete="off"
               maxlength="25"
               required>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="label-password"><i class="fas fa-lock"></i></span>
        </div>
        <input type="password" class="form-control" name="password" id="password"
               aria-describedby="label-password" placeholder="Mot de passe" autocomplete="off"
               minLength="5" maxlength="50" required readonly>
    </div>
    <div class="input-group mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="label-passwordrepeat"><i class="fas fa-repeat"></i></span>
        </div>
        <input type="password" class="form-control" name="passwordrepeat" id="passwordrepeat"
               aria-describedby="label-passwordrepeat" placeholder="Répéter mot de passe"
               autocomplete="off" minLength="5" maxlength="50" required readonly>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="label-admin">Admin</span>
        </div>
        <select class="form-control" name="admin" id="admin"
                aria-describedby="label-admin">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </div>
{% endblock %}

{% block add_titre %}Ajouter un utilisateur{% endblock %}
{% block add_content %}
    <div class="input-group mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="a_label-username">Pseudo</span>
        </div>
        <input type="text" class="form-control" name="username" id="a_username"
               aria-describedby="label-username" placeholder="Pseudo" autocomplete="off"
               maxlength="50" required>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="a_label-firstname">Prénom</span>
        </div>
        <input type="text" class="form-control" name="firstname" id="a_firstname"
               aria-describedby="label-firstname" placeholder="Prénom" autocomplete="off"
               maxlength="50" required>
    </div>
    <div class="input-group mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="a_label-lastname">Nom</span>
        </div>
        <input type="text" class="form-control" name="lastname" id="a_lastname"
               aria-describedby="label-lastname" placeholder="Nom" autocomplete="off"
               maxlength="50"
               required>
    </div>
    <div class="input-group mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="a_label-lastname">Email</span>
        </div>
        <input type="email" class="form-control" name="email" id="a_email"
               aria-describedby="label-email" placeholder="Email" autocomplete="off"
               maxlength="200"
               required>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
                                    <span class="input-group-text" id="a_label-password"><i
                                                class="fas fa-lock"></i></span>
        </div>
        <input type="password" class="form-control" name="password" id="a_password"
               aria-describedby="label-password" placeholder="Mot de passe" autocomplete="off"
               minLength="5" maxlength="50" required>
    </div>
    <div class="input-group mb-4">
        <div class="input-group-prepend">
                                    <span class="input-group-text" id="a_label-passwordrepeat"><i
                                                class="fas fa-repeat"></i></span>
        </div>
        <input type="password" class="form-control" name="passwordrepeat" id="a_passwordrepeat"
               aria-describedby="label-passwordrepeat" placeholder="Répéter mot de passe"
               autocomplete="off" minLength="5" maxlength="50" required>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="a_label-admin">Admin</span>
        </div>
        <select class="form-control" name="admin" id="a_admin"
                aria-describedby="a_label-admin">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
    </div>
{% endblock %}

{% block remove_titre %}Supprimer l'utilisateur{% endblock %}
{% block remove_content %}
    <p>Voulez-vous vraiment supprimer l'utilisateur suivant:</p>
    <input type="hidden" id="r_idutilisateur">
    <ul>
        <li id="r_username">Pseudo : <b></b></li>
        <li id="r_lastname">Nom : <b></b></li>
        <li id="r_firstname">Prénom : <b></b></li>
        <li id="r_email">Email : <b></b></li>
    </ul>
{% endblock %}