{% extends "administration/_administration_model.html.twig" %}

{% block styles %}
    <style>
        @media (max-width: 500px) {
            .content_bottom_right__top img {
                width: 125px;
            }

            .colonne-2, .colonne-3 {
                display: none;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <input type="hidden" id="base_url" value="{{ base_url() }}">
    <div class="content_bottom_right__top">
        <h1>Mon profile</h1>
    </div>
    <div class="container">
        <form action="{{ base_url() }}/modifierProfil" class="form" method="post">
            <input type="hidden" name="id" id="id" value="{{ user.user_id }}">
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="nom">Nom : </label>
                        <input type="text" id="nom" name="nom" value="{{ user.nom }}">
                    </div>
                </div>
                <br>
                <div class="form-group col">
                    <label for="prenom">Prénom : </label>
                    <input type="text" id="prenom" name="prenom" value="{{ user.prenom }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="pseudo">Pseudo : </label>
                    <input type="text" id="pseudo" name="pseudo" value="{{ user.login }}">
                </div>
                <br>
                <div class="form-group col">
                    <label for="email">Email : </label>
                    <input type="email" id="email" name="email" value="{{ user.email }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="m2p">Mot de passe : </label>
                    <input type="password" id="m2p" name="m2p">
                </div>
            </div>
            <input type="submit" value="Modifier">
        </form>
    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
