{% extends "administration/_administration_model.html.twig" %}

{% block styles %}
    <style>
        @media (max-width: 600px) {
            .colonne-2 {
                display: none;
            }
        }

        @media (max-width: 500px) {
            .content_bottom_right__top img {
                width: 125px;
            }

            .colonne-3, .colonne-4 {
                display: none;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="content_bottom_right__top">
        <a href="{{ base_url() }}/administration/importCSV"><img src="{{ base_url() }}/public/img/imgAppli/csvLogo.png"
                                                                 title="Logo CSV"></a>

        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col" class="colonne-1">ID</th>
                <th scope="col" class="colonne-2">Zone</th>
                <th scope="col" class="colonne-3">Nom français</th>
                <th scope="col" class="colonne-4">Nom latin</th>
                <th scope="col" class="colonne-5 controls"><i class="fas fa-cogs"></i></th>
            </tr>
            </thead>
            <tbody>
            {% if plantes is defined %}
                {% for plante in plantes %}
                    <tr data-id="{{ plante['plante_id'] }}"
                        data-description="{{ plante['description'] }}"
                        data-qrCode="{{ plante['qrCode'] }}"
                        data-hauteur="{{ plante['hauteur'] }}"
                        data-nectar="{{ plante['nectar'] }}"
                        data-pollen="{{ plante['pollen'] }}"
                        data-miellat="{{ plante['miellat'] }}"
                        data-floraisoncouleur="{{ plante['floraisonCouleur'] }}">
                        <td class="colonne-1">{{ plante['plante_id'] }}</td>
                        <td class="colonne-2">{{ plante['nom'] }}</td>
                        <td class="colonne-3">{{ plante['nomFrancais'] }}</td>
                        <td class="colonne-4">{{ plante['nomLatin'] }}</td>
                        <td class="colonne-5 controls"><i class="far fa-eye text-info" data-toggle="modal"
                                                          data-target="#viewModal"></i>
                            <i class="far fa-edit text-warning" data-toggle="modal"
                               data-target="#editModal"></i>
                            <i class="far fa-trash-alt text-danger" data-toggle="modal"
                               data-target="#removeModal"></i>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

{# ============================ #}
{# ========== MODALS ========== #}
{# ============================ #}
{% set type = "plante" %}

{% block edit_titre %}Modifier la plante{% endblock %}
{% block edit_content %}
    <input type="hidden" id="edit_plante_id" name="plante_id">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="edit_nomFrancais-label">Nom français</span>
        </div>
        <input type="text" class="form-control" name="nomFrancais" id="edit_nomFrancais"
               aria-describedby="edit_nomFrancais-label" placeholder="Nom français"
               autocomplete="off"
               maxlength="200">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="edit_nomLatin-label">Nom latin</span>
        </div>
        <input type="text" class="form-control" name="nomLatin" id="edit_nomLatin"
               aria-describedby="edit_nomLatin-label" placeholder="Nom latin"
               autocomplete="off" maxlength="200">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="edit_zone-label">Zone</span>
        </div>
        <select class="form-control" name="zone" id="edit_zone"
                aria-describedby="edit_zone-label" required>
            {% if zones is defined %}
                {% for zone in zones %}
                    <option value="{{ zone.nom }}">{{ zone.nom }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="edit_description-label">Description</span>
        </div>
        <textarea class="form-control" name="description" id="edit_description"
                  aria-describedby="edit_description-label" placeholder="Description de la plante"></textarea>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="edit_hauteur-label">Hauteur</span>
        </div>
        <input type="text" class="form-control" name="hauteur" id="edit_hauteur"
               aria-describedby="edit_hauteur-label" placeholder="Hauteur de la plante"
               autocomplete="off" maxlength="100">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="edit_nectar-label">Nectar</span>
        </div>
        <input type="number" class="form-control" name="nectar" id="edit_nectar"
               aria-describedby="edit_nectar-label" placeholder="Quantité de nectar"
               autocomplete="off" maxlength="100" required>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="edit_pollen-label">Pollen</span>
        </div>
        <input type="number" class="form-control" name="pollen" id="edit_pollen"
               aria-describedby="edit_pollen-label" placeholder="Quantité de pollen"
               autocomplete="off" maxlength="100" required>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="edit_miellat-label">Miellat</span>
        </div>
        <input type="number" class="form-control" name="miellat" id="edit_miellat"
               aria-describedby="edit_miellat-label" placeholder="Quantité de miellat"
               autocomplete="off" maxlength="2" required>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="edit_floraisonCouleur-label">floraison & couleur</span>
        </div>
        <input type="text" class="form-control" name="floraisonCouleur" id="edit_floraisonCouleur"
               aria-describedby="edit_floraisonCouleur-label" placeholder="Dates de floraison et couleurs"
               autocomplete="off">
    </div>
{% endblock %}

{% block add_titre %}Ajouter une plante{% endblock %}
{% block add_content %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="add_nomFrancais-label">Nom français</span>
        </div>
        <input type="text" class="form-control" name="nomFrancais" id="add_nomFrancais"
               aria-describedby="add_nomFrancais-label" placeholder="Nom français"
               autocomplete="off"
               maxlength="200">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="add_nomLatin-label">Nom latin</span>
        </div>
        <input type="text" class="form-control" name="nomLatin" id="add_nomLatin"
               aria-describedby="add_nomLatin-label" placeholder="Nom latin"
               autocomplete="off" maxlength="200">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="add_zone-label">Zone</span>
        </div>
        <select class="form-control" name="zone" id="add_zone"
                aria-describedby="add_zone-label" required>
            {% if zones is defined %}
                {% for zone in zones %}
                    <option value="{{ zone.nom }}">{{ zone.nom }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="add_description-label">Description</span>
        </div>
        <textarea class="form-control" name="description" id="add_description"
                  aria-describedby="add_description-label" placeholder="Description de la plante"></textarea>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="add_hauteur-label">Hauteur</span>
        </div>
        <input type="text" class="form-control" name="hauteur" id="add_hauteur"
               aria-describedby="add_hauteur-label" placeholder="Hauteur de la plante"
               autocomplete="off" maxlength="100">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="add_nectar-label">Nectar</span>
        </div>
        <input type="number" class="form-control" name="nectar" id="add_nectar"
               aria-describedby="add_nectar-label" placeholder="Quantité de nectar"
               autocomplete="off" maxlength="100" required>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="add_pollen-label">Pollen</span>
        </div>
        <input type="number" class="form-control" name="pollen" id="add_pollen"
               aria-describedby="add_pollen-label" placeholder="Quantité de pollen"
               autocomplete="off" maxlength="100" required>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="add_miellat-label">Miellat</span>
        </div>
        <input type="number" class="form-control" name="miellat" id="add_miellat"
               aria-describedby="add_miellat-label" placeholder="Quantité de miellat"
               autocomplete="off" maxlength="2" required>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="add_floraisonCouleur-label">floraison & couleur</span>
        </div>
        <input type="text" class="form-control" name="floraisonCouleur" id="add_floraisonCouleur"
               aria-describedby="add_floraisonCouleur-label" placeholder="Dates de floraison et couleurs"
               autocomplete="off">
    </div>
{% endblock %}

{% block remove_titre %}Suppression plante{% endblock %}
{% block remove_content %}
    <p>Voulez-vous vraiment supprimer la plante suivante:</p>
    <input type="hidden" id="r_plante_id">
    <ul>
        <li id="r_nomFrancais">Nom français : <b></b></li>
        <li id="r_nomLatin">Nom latin : <b></b></li>
        <li id="r_zone">Zone : <b></b></li>
    </ul>
{% endblock %}

{% block view_titre %}Informations sur la plante{% endblock %}
{% block view_content %}
    <img id="view_qrCodeImg">
    <hr>
    <p id="view_id">ID: <b></b></p>
    <p id="view_nomFrancais">Nom français: <b></b></p>
    <p id="view_nomLatin">Nom latin: <b></b></p>
    <p id="view_zone">Zone: <b></b></p>
    <p id="view_description">Description: <b></b></p>
    <p id="view_hauteur">Hauteur: <b></b></p>
    <p id="view_nectar">Nectar: <b></b></p>
    <p id="view_pollen">Pollen: <b></b></p>
    <p id="view_miellat">Miellat: <b></b></p>
    <p id="view_floraisonCouleur">Date et couleur floraison: <b></b></p>
    <p id="view_qrCode">QRCode: <b></b></p>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ base_url() }}/public/js/administration/administration-modal.js"></script>
    <script type="text/javascript"
            src="{{ base_url() }}/public/js/administration/administration-liste-plantes.js"></script>
{% endblock %}