{% extends "administration/_administration_model.html.twig" %}

{% block styles %}
    <style>
        .content {
            justify-content: center;
            align-items: center ;
        }

        form.importCsv {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        form h1 {
            margin-bottom: 1em;
            text-align: center;
        }

        form input {
            margin-bottom: 2em;
            width: 50%;
        }

        form button {
            width: 90%;
        }

        @media (max-width: 300px) {
            form h1 {
                font-size: 25px;
            }

            form input {
                margin-bottom: 2em;
                width: 80%;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <form action="{{ base_url() }}/administration/importCsv" method="post" class="form importCsv" enctype="multipart/form-data">
        <h1>Importer vos plantes avec un fichier csv</h1>

        <input type="file" name="csv" id="csv" accept="text/csv">

        <button type="submit" class="btn btn-info">Envoyer</button>
    </form>
{% endblock %}

{% block boutonAdd %}{% endblock %}