<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>BeeChallenge - Administration</title>

    <!-- JQuery -->
    <script language="javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ base_url() }}/vendor/twbs/bootstrap/dist/css/bootstrap.min.css"/>
    <!--Fontawesome-->
    <link rel="stylesheet" href="{{ base_url() }}/vendor/fortawesome/font-awesome/css/all.css"/>
    <!-- OUR CSS -->
    <link rel="stylesheet" href="{{ base_url() }}/public/css/administration.min.css"/>
</head>

<body>

<div class="content">
    <div class="content__top">
        <div class="content_top__left">
            <h2>BeeChallenge</h2><img src="{{ base_url() }}/public/img/imgAppli/logo-abeille.jpg" title="Logo">
        </div>
        <div class="content_top__right">
            <a style="color: black" href="{{ base_url() }}/administration/monProfile" ><i style="color: black" class="fas fa-user"></i></a>
            <a style="color: black" href="{{ base_url() }}/deconnexion"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
    <div class="content__bottom">
        <div class="content_bottom__left">
            <ul>
                <li data-url="administration/plantes" class="dossierCourant">Gestion des plantes</li>
                <li data-url="administration/gestionUsagers">Gestion usagers</li>
            </ul>
        </div>
        <div class="content_bottom__right">
            <iframe src="{{ base_url() }}/administration/plantes">

            </iframe>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ base_url() }}/public/js/administration.js"></script>

</body>
</html>