<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-83" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge"> {% block head %}
    <title>{% block title %}{% endblock %} - Bee Challenge -</title>

    <!-- JQuery -->
    <script language="javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{base_url()}}/vendor/twbs/bootstrap/dist/css/bootstrap.min.css" />
    <!--Fontawesome-->
    <link rel="stylesheet" href="{{base_url()}}/vendor/fortawesome/font-awesome/css/all.css" />
    <!-- OUR CSS -->
    <link rel="stylesheet" href="{{ base_url() }}/public/css/style.css"/> {% block css %}{% endblock %} {% endblock %}
</head>

<body>
    <header>
        {% block header %}{% endblock %} {% block connect %}{% endblock %}
    </header>
    {% block content %} {% endblock %}
    <footer id="footer" class="text-center text-black fixed-bottom">
        {% block footer %} Groupe: Stéphane Mairesse, Thomas Serres, Clément Mercier, Lucas Ligerot {% endblock %}
    </footer>
</body>


<!-- bootstrap js -->
<script language="javascript" src="{{base_url()}}/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
{% block scriptJs %}{% endblock %}

</html>