{% extends "base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="{{ base_url() }}/public/css/connexion.css" />
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="viewport" content="width=device-width initial-scale=1.0">
{% endblock %}

{#surcharge du block header#}
{% block header %}
{% endblock %}

{#recupération du block footer#}
{% block footer %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="container myContainer">
        <div id="homeLogo">
            <img src="public\img\imgAppli\logo-abeille.png" width="10%"/>
            <h1>Bee Challenge</h1>
        </div>
        <br>

        {% block formTitle %}
            <h2>Connexion</h2>
        {% endblock %}
        {% block formAction %}<form action="{{ base_url() }}/connexion" class="form-row" method="post">{% endblock %}
            {% block formInputs %}
                {% block loginConnection %}
                    <div class="form-group col-xs-12 col-md-12">
                        <input type="text" id="login" name="login" placeholder="Login ou email">
                    </div>
                 {% endblock %}
                <div class="form-group col-xs-12 col-md-12">
                    <input type="password" id="m2p" name="m2p" placeholder="Mot de passe">
                </div>
            {% endblock %}

            {% block button %}
                <button class="btn btn-block btn-success" type="submit">Se connecter</button>
            {% endblock %}
        </form>
        {% block actions %}
            <a href="{{ base_url() }}/creerCompte" class="primary">Créer un compte</a><br>
            <a href="{{ base_url() }}/motDePasseOublie" class="primary">Mot de passe oublié</a>
        {% endblock %}
    </div>

{% endblock %}