{% extends "base.html.twig" %}{% block content %}
<main class="">
    <h1 id="titleFin" class="d-flex flex-row align-items-center justify-content-center bg-success"></h1>
    <div id="resume">
    </div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
</main>
{% endblock %} {% block scriptJs %}
<script language="javascript" src="./public/js/endGame.js"></script>
{% endblock %}