{% extends "headerGame.html.twig"%} {% block content %}

    <img src="public/img/imgAppli/herbe.png" class="back fixed-bottom">
    <img src="public/img/imgAppli/abeille_trainee.png" class="back fixed-bottom">
    <img src="public/img/imgAppli/nuage.png" class="nuage1">
    <img src="public/img/imgAppli/nuage.png" class="nuage2">
    <img src="public/img/imgAppli/nuage.png" class="nuage3">
<div id="gameInterface" class="d-lex flex-row fixed-bottom ml-5 mb-4 ">
    <button id="help" class="btn btn-secondary px-3" data-toggle="modal" data-target="#modalRegle">?</button>
    <button id="status" class="btn btn-secondary px-3" data-toggle="modal" data-target="#modalStatus">status</button>

</div>

<div class="text-center"><a href="./scanPlante"><button id="scanQrBtn" class="scanner"><img src="public/img/imgAppli/qr.png"class="imgScan"/></button></a></div>

<button id="localisation" class="btn btn-secondary px-4 offset-10  fixed-bottom mb-4" data-toggle="modal" data-target="#modalMap"><i class="fas fa-map-marker-alt"></i></button>
<div class="modal fade" id="modalRegle" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Règles du jeu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>Bonjour petite abeille,ta mission si tu l'accepte est de parcourir le jardin botanique à la recherche de fleurs possèdant un QR code.<br/>Les fleurs te donneront des points nectar et des points pollen. 10 points nectar rapportent 1 pot
                    de miel et plus tu as de points pollen plus facilement tu engendre des points nectar.<br/>Lorsque tu scan une nouvelle fleur cela te coûte 1 point pollen.<br/>N'oublie pas les règles suivantes:</p>
                <ul>
                    <li>Avoir obtenu au moins une plante mélifère de chacune des 19 zones du jardin</li>
                    <li>Avoir fini avant la fin du temps imparti</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalQrState" tabindex="-1" role="dialog" data-qr="{{qr}}" data-id="{{idPlante}}" data-idzone="{{idZone}}" data-nectar="{{nectar}}" data-pollen="{{pollen}}" data-nomPlante="{{nom}}" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titleQrResult" class="modal-title" id="modalLabel"></h5>
                <button type="button" class="close closeModalQRBtn" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id="qrResultBody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger invalid closeModalQRBtn" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalMap" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Map du jardin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <img id="plan" src="public/img/imgAppli/plan-JB.jpg" class="mr-auto ml-auto" type="application/pdf" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalStatus" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Status du challenge</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id="statusBody" class="modal-body">
                <ul>
                    <li id="statusNbPlante"></li>
                    <li id="statusZones"></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scriptJs %}
<script language="javascript" src="./public/js/timer.js"></script>
<script language="javascript" src="./public/js/game.js"></script>
{% endblock %}