{% extends "base.html.twig" %} {% block header %}
<div id="header" class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="miel_nav">
        <img src="public/img/imgAppli/potMiel.png" class="m-2" width="30%" />
        <font id="nbPotMiel" size="5em"></font>
    </div>
    <div class="miel_nav">
        <img src="public/img/imgAppli/nectar.png" class="m-2" width="30%" />
        <font id="nbNectar" size="5em"></font>
    </div>
    <div class="miel_nav">
        <img src="public/img/imgAppli/honeyPollen.png" class="m-2" width="30%" />
        <font id="nbPollen" size="5em"></font>
    </div>
    <div id="countdown" class="time my-2 my-lg-0">
        <strong>Temps restant</strong> :<br>
        <span id="countdown_hour">--</span> heures<br>
        <span id="countdown_min">--</span> minutes<br>
        <span id="countdown_sec">--</span> secondes
    </div>
</div> {% endblock %}