{% extends "base.html.twig" %} {% block content %}
<div id="homeLogo" class="d-flex flex-row justify-content-center">
    <img src="public\img\imgAppli\logo-abeille.jpg" width="10%" />
    <div class="d-flex flex-column justify-content-center">
        <h1>Bee Challenge</h1>
    </div>
</div>
<div class="text-center">
    <a href="{{ base_url() }}/connexion" class="btn btn-success mt-2 w-25">Se connecter</a>
{#    <button class="btn btn-success mt-2 w-25" onClick="javascript:document.location.href='./scan'">START</button>#}
</div>
{% endblock %}