{% extends "connexion.html.twig" %}

{% block formTitle %}
    <h2>S'inscrire</h2>
{% endblock %}

{% block formInputs %}
    <div class="form-group col-xs-12 col-md-12">
        <input type="text" id="email" name="email" placeholder="Email">
    </div>
    <div class="form-group col-xs-12 col-md-12">
        <input type="text" id="login" name="login" placeholder="Login">
    </div>
    <div class="form-group col-xs-12 col-md-12">
        <input type="text" id="nom" name="nom" placeholder="Nom">
    </div>
    <div class="form-group col-xs-12 col-md-12">
        <input type="text" id="prenom" name="prenom" placeholder="prenom">
    </div>
    {{ parent() }}
{% endblock %}

{% block loginConnection %}{% endblock %}

{% block actions %}{% endblock %}

{% block button %}
    <button class="btn btn-block btn-success" type="submit">S'inscrire</button>
{% endblock %}

 {% block formAction %}
     <form action="{{ base_url() }}/inscription" class="form-row" method="post">
 {% endblock %}