{% extends "base.html.twig" %} {% block content %}



    <h3 class="text-white text-center mt-4 h3">
        <font class="bg-secondary" style="width: 3rem;">Veuillez centrer le QRCode</font>
    </h3>
    <h4 class="text-white text-center mt-4 h4" style="min-height: 3rem;">
        <font class="bg-secondary border border-primary bg-secondary" style="min-height: 3rem;">Vous devez scanner le QRCode {{complement}}</font>
    </h4>
<div id="scanner" class="view d-flex flex-column align-items-center">
    <div class="scan"></div>
    <video id="preview"></video>
    <div>
        <p class='message text-white'></p>
    </div>
</div> {% endblock %} {% block scriptJs %}
<script language="javascript" src="./public/js/instascan.min.js"></script>
<script language="javascript" src="./public/js/qrcode.js"></script>
{% endblock %}